@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.btn {
    @apply w-40
    bg-secondary
    py-3
    rounded-lg
    -mt-3
    cursor-pointer
    hover:bg-primary;
}

.menu-item:hover {
    @apply border-solid border-b-4 border-primary cursor-pointer;
}

input {
    background: #FFFFFF;
    box-shadow: 2px 1px 6px 1px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    color: #101C3A;
}

input:focus {
    outline: #101C3A;
    filter: contrast(95%);
}

input[type=submit] {
    background: #101C3A;
    box-shadow: 2px 1px 6px 1px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";